[Unit]
Description=Tcall Supervisor Service
After=network.target

[Service]
ExecStart=/usr/local/bin/tcall-supervisor
Restart=always

[Install]
WantedBy=multi-user.target

