[Unit]
Description=Tcall Supervisor Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tcall-supervisor
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
