Package: tcall
Version: 0.1
Section: admin
Priority: optional
Architecture: all
Depends: bash, sudo, util-linux, coreutils
Maintainer: Tcall <admin@localhost>
Description: Admin-brokered privileged command execution system
